h2.top{
  color: #FFFFFF;
  background-color: #79b74a;
  font-family: 遊ゴシック;
  font-size: xx-large;
}

h2.title{
  font-family: メイリオ;
  font-weight: bold;
  text-decoration: underline;
}

ul, ol {
  border-top: solid #F2F2F2; 2px;
  border-bottom: solid #F2F2F2; 2px;
  padding: 0.5em 0 0.5em 1.5em;
}

ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}